@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$default-font: "Roboto", sans-serif;
$gray: #878b98;
$light-gray: #e8e8e8;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $default-font;
}

.top-nav {
  border-color: $light-gray;
  input {
    color: black;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}

input[type="checkbox"]:checked {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border-color: #00ba76;
  background-color: #00ba76;
  box-shadow: 0 0 #00ba76;
  -webkit-box-shadow: 0 0 #00ba76;
  -moz-box-shadow: 0 0 #00ba76;

  content: "\2714";
  //font-size: 14px;
}

input[type="checkbox"] {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border-width: 2px;
  border: solid;
  border-color: $light-gray;
  cursor: pointer;
}

.hidden {
  display: none;
}
