@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$default-font: "Roboto", sans-serif;
$gray: #878b98;
$light-gray: #e8e8e8;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $default-font;
}

.hamburger-icon {
  background: url("/img/MenuHamburger.png");
  height: 12px;
  width: 18px;
  display: block;
}

.home-icon {
  background: url("/img/Home.png");
  height: 20px;
  width: 17px;
  display: block;
}

.profile-icon {
  background: url("/img/Profile.png");
  height: 18px;
  width: 18px;
  display: block;
}

.cart-icon {
  background: url("/img/Cart.png");
  height: 20px;
  width: 20px;
  display: block;
}

.gear-icon {
  background: url("/img/Gear.png");
  height: 19.45px;
  width: 20px;
  display: block;
}

.top-nav {
  border-color: $light-gray;
  input {
    color: $light-gray;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}
